@charset "utf-8";

body {
    margin: 0;
}

h2 {
    background: #000;
    display: inline-block;
    padding: 1rem;
    color: #fff;
}

.bg-img {
    background-image: url("images/bg1.jpg");
    background-size: cover;
    height: 80vh;
    animation: change-image 15s infinite;
}

@keyframes change-image {
    0%, 100% { background-image: url('images/bg1.jpg');}
    25% { background-image: url('images/bg2.jpg');}
    50% { background-image: url('images/bg3.jpg');}
    75% { background-image: url('images/bg4.jpg');}
}

.video-container {
    position: relative;
}

.video-heading {
    background: #000;
    display: inline-block;
    padding: 1rem;
    color: #fff;
    position: absolute;
    z-index: 1;
}

.video-bg {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}